html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #242121;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  align-self: flex-start;
  position: relative;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  color: #01353e;
}

.title::after {
  content: "/";
  position: absolute;
  font-weight: 600;
  font-size: 72px;
  line-height: 85px;
  color: #00b2a0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header {
  min-height: 100vh;
  background-image: url('../images/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header__top {
  display: flex;
  align-items: center;
  padding-top: 35px;
  /* margin-bottom: 243px; */
}

.menu {
  margin: 0 auto;
}

.menu__list {
  display: flex;
  align-self: center;
}

.menu__list-item+.menu__list-item {
  margin-left: 45px;
}

.menu__list-link {
  padding: 0 2px 5px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  transition: all .5s;
}

.menu__list-link:hover {
  border-bottom: 1px solid #00b2a0;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: calc(100vh - 98px);
}

.header__title {
  margin-top: auto;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 200px;
  line-height: 235px;
  color: #0D302C;
}

.header__subtitle {
  margin-bottom: auto;
  padding-bottom: 57px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;

}

.header__icon {
  margin-bottom: 92px;
}

.about {
  padding-top: 189px;
  padding-bottom: 169px;
}

.about__title {
  margin-bottom: 100px;
  max-width: 891px;
}

.about__text {
  max-width: 480px;
  margin-right: 120px;
  margin-bottom: 30px;
}

.about__text-row {
  display: flex;
}

.school {
  padding: 200px 0;
  background-color: #f8f8f8;
}

.school__title {
  margin-bottom: 101px;
  max-width: 608px;
}

.school__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 102px;
}

.school__item {
  width: 350px;
}

.school__item-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 19px;
  height: 56px;
}

.school__item-title {
  position: relative;
  padding-left: 60px;
  max-width: 215px;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
}

.school__item-title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
}

.school__item--living::before {
  background-image: url('../images/sun-icon.svg');
}

.school__item--flying::before {
  background-image: url('../images/fly-icon.svg');
}

.school__item--studying::before {
  background-image: url('../images/study-icon.svg');
}

.school__inner {
  display: flex;
  justify-content: space-between;
}

.school__info {
  flex: none;
  padding-top: 8px;
  width: 346px;
}

.school__info-item {
  position: relative;
  padding: 5px 0 30px;
  border-top: 15px solid #fff;
  border-image: url('../images/percent.svg') 15 0 0 stretch;
}

.school__info-item span {
  position: absolute;
  padding-left: 10px;
  right: 0;
  top: -15px;
  display: block;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  color: #242121;
  background-color: #f8f8f8;
}

.school__info-item span::before {
  content: "";
  position: absolute;
  right: 0;
  top: -15px;
  height: 15px;
  width: 100%;
  margin-right: -7px;
  background-color: #f8f8f8;
}



.school__text {
  max-width: 600px;
}

.school__text p + p {
  margin-top: 30px;
}

.peak {
  background-image: url('../images/conquer.jpg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right 82%;
}

.peak__inner {
  margin-right: auto;
  padding: 200px 0 117px;
  max-width: 470px;
}

.peak__title {
  width: 511px;
  margin-bottom: 100px;
}

.peak__text p {
  margin-bottom: 30px;
}